:root {
    --body-background-color: rgb(191, 151, 200);
    --nav-color: rgb(108, 44, 123);
    --font-color: white; 

}

.header {
background-color: var(--nav-color);
}


.header h1 {
    background-color: var(--body-background-color);
    color: var(--font-color);
    text-align: center;
    height: 50px;
    font-size: 40px;
    
}

.nav {
    background-color: var(--nav-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    
    
}

.nav ul {
    display: flex;
    gap: 1rem;
}

.nav li {
    display: inline;
    
}

.nav-1, .nav-2, .nav-3 {
    font-size: 20px;
    display: flex;
    
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content-wrapper {
    display: flex;
}

.flex-container {
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 25rem;
    padding: 3rem;
    border-style: double;
    }

  .right-side {
    background-color: green;
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    min-width: 35rem;
  }

img {
    width: 100%;
}

.image-wrapper {
    width: 10rem;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}

.about-me {
    display: flex;
    gap: 7rem;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    gap: 5rem;
    
}

.contact {
    background-color: peachpuff;
    display: flex;
    justify-content: space-evenly;
}

